body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    background: linear-gradient(to right bottom, #000, #111,
            #222, #333, #444, #555, #666, #777);
    font-family: sans-serif;
}
a {
    color: #111;
    text-decoration: none;
}