.phone {
    width: 320px;
    height: 600px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: rotation 5s infinite linear;
    transition: 400ms;
    transition-timing-function: ease-out;
}

.sides {
    background: var(--phone-linear-color);
    position: absolute;
}

.lateral {
    width: 20px;
    height: 100%;
}

.left-side {
    transform: rotateY(90deg) translateZ(-10px);
}

.right-side {
    transform: rotateY(90deg) translateZ(310px);
    transform-style: preserve-3d;
}

.upper-lower {
    width: 100%;
    height: 20px;
}

.top-side {
    transform: rotateX(90deg) translateZ(10px);
}

.bottom-side {
    transform: rotateX(90deg) translateZ(-590px);
}

.main-parts {
    width: 100%;
    height: 100%;
}

.rote {
    transform: rotate(90deg) rotateY(180deg);
}

.rotate-btn {
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    background: linear-gradient(90deg, mediumslateblue, transparent);
    background-size: 200px;
    background-position: 200px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
}

.rotate-btn:hover {
    transition: 500ms;
    background-position: 0px;
}