.phone {
    width: 320px;
    height: 600px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: rotation 5s infinite linear;
}

.sides {
    background-color: #ddd;
    position: absolute;
}

.lateral {
    width: 20px;
    height: 100%;
}

.left-side {
    transform: rotateY(90deg) translateZ(-10px);
}

.right-side {
    transform: rotateY(90deg) translateZ(310px);
    transform-style: preserve-3d;
}

.upper-lower {
    width: 100%;
    height: 20px;
}

.top-side {
    transform: rotateX(90deg) translateZ(10px);
}

.bottom-side {
    transform: rotateX(90deg) translateZ(-590px);
}

.main-parts {
    width: 100%;
    height: 100%;
}

.front-side {
    transform: translateZ(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 10px #3337;
}

.rear-side {
    transform: translateZ(-10px);
    background: url('../images/bg.jpg') 50% no-repeat;
    background-size: 300%;
}