.screen {
    width: 250px;
    height: 100%;
    background: #000;
    margin: 5px auto;
    margin-bottom: 10px;
    padding: 30px;
    column-gap: 35px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

.password-buttons {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    column-gap: 30px;
}

.main-button {
    width: 50px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset -2px -2px 3px #ddd, inset 2px 2px 3px #111;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 15px;
    height: 15px;
    border: 1px solid #222;
    opacity: 0.8;
    border-radius: 5px;
}

.screen>input, .password-buttons>* {
    font-size: 25px;
}

.screen>input::-webkit-inner-spin-button {
    display: none;
}

.screen>input {
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 5px 20px 5px 20px;
    letter-spacing: 50px;
    border-bottom: 3px solid #fff;
    box-shadow: 3px 0 5px #444;
    outline: none;
    border-radius: 10px;
}

.password-buttons>button {
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #000;
}

.unvisible>* {
    display: none;
}